.h_Mdiv {
  position: relative;
}
.calendar {
  margin: 30px;
  font: 12px/22px Tahoma;
  font-size: 12px;
}
.calendar input {
  border: 1px #ccc solid;
  height: 30px;
  line-height: 30px;
  padding: 0 5px;
}
.calendarBox {
  position: absolute;
  border: #85bee5 1px solid;
  padding: 15px 30px;
  background: #fff;
  z-index: 10;
}
.calendarBox .cal-prev {
  position: absolute;
  background: url(./images/ico.png) 0px -25px no-repeat;
  cursor: pointer;
  width: 20px;
  height: 38px;
  display: block;
  left: 10px;
  top: 50%;
}
.calendarBox .cal-next {
  position: absolute;
  background: url(./images/ico.png) -20px -25px no-repeat;
  cursor: pointer;
  width: 20px;
  height: 38px;
  display: block;
  right: 10px;
  top: 50%;
}
.calendarBox .cal-close {
  width: 17px;
  background: url(./images/ico.png) -40px -25px no-repeat;
  height: 17px;
  top: 8px;
  right: 8px;
  display: block;
  position: absolute;
  cursor: pointer;
}
.calendarBox .cal-container {
  margin: 10px 10px 0px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 185px;
}
.calendarBox dl {
  text-align: center;
}
.calendarBox dt {
  line-height: 22px;
  width: 25px;
  float: left;
  margin-right: 1px;
  font-size: 12px;
}
.calendarBox strong {
  font-weight: bold;
}
.calendarBox .date {
  width: 100%;
  padding-bottom: 2px;
  margin-bottom: 2px;
  border-bottom: 1px solid #eee;
  font-size: 14px;
}
.calendarBox dd {
  background: url(./images/table.png);
  width: 183px;
  height: 139px;
  float: left;
}
.calendarBox dd a {
  color: #999;
  cursor: default;
  width: 25px;
  height: 22px;
  float: left;
  display: block;
  line-height: 22px;
  text-align: center;
  width: 26px;
  height: 23px;
}
.calendarBox dd a:hover {
  text-decoration: none;
}
.calendarBox dd .indays {
  cursor: pointer;
  color: #333;
}
.calendarBox dd .indays:hover {
  background: #f60;
  color: #fff;
}
.calendarBox dd .cnt {
  background: #f60;
  color: #fff;
}
